/*  ==========
    General (all, body )
    ==========
*/


/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
}

body {
    font-size: 1rem;
    color: #000000;
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
}

a {
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
}

ul li {
    font-size: 1rem;
    list-style: none;
    color: #000000;
} */


/*  ========== 
    body 
    ==========
*/

.navbar-brand {
    margin: 10px;
    color: #000000;
    font-size: 0.875rem;
    text-decoration: none;
}

.nav-link {
    margin: 5px 10px;
    font-weight: 700;
    font-size: 0.875rem;
    text-transform: uppercase;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #ffffff;
}

#aboutme {
    background-color: #e2edff;
}

#project {
    background-color: #ffffff;
}

#contact {
    background-color: #e2edff;
}

section {
    padding-top: 6rem;
}